@charset "utf-8";
/*
 * 样式重置
 */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    position: relative;
    min-width:9600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "PingFang SC", "Tahoma", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
    line-height: 1.618;
    font-size: 14px;
    color: #333;
    background-color:#121217;
    word-break: break-all;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

body::before {
    content: '';
    display: table;
    height: 0;
    width: 100%;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

label,
a,
select,
button,
input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::placeholder,
textarea::placeholder {
    color: #999;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0 0.4em;
}

img {
    display: block;
    max-width: 100%;
    -webkit-touch-callout: none;
}

small {
    font-size: 100%;
}

big {
    font-size: 120%;
}

strong,
h1,
h2,
h3,
h4 {
    font-weight: 400;
}

/*
 * 修复页面效果不按照指定样式渲染的bug
 */

div,
p,
a {
    max-height: 9999px;
}

/*
 * 通用样式
 * 屏幕阅读器
 * 盒模型
 */

.glb-for-screen {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    z-index: -1;
}

.glb-for-screener {
    text-indent: 9999px;
    overflow: hidden;
    white-space: nowrap;
}
.glb-center-xy{
    position: absolute;
    top:50%;
    left:50%;
    min-width:100%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.shape-phone6-container,
.shape-phone6,
.glb-full-box,
.glb-mask,
.glb-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    z-index: 1000;
}

.shape-phone6 {
    padding-bottom: 160%;
    min-height: 100%;
    z-index: 1;
}

.shape-phone6-container {
    position: absolute;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
}

.glb-mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.shape-phone6,
.glb-full-box {
    position: absolute;
}

.glb-border,
.layout-box,
.layout-boxs,
.glb-border-top,
.glb-border-left,
.glb-border-bottom {
    position: relative;
}

.glb-border::after,
.model-btn::after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, .35);
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.layout-box::after,
.layout-boxs::before,
.glb-border-top::before,
.glb-border-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.layout-boxs::before,
.glb-border-top::before {
    bottom: auto;
    top: 0;
}

.glb-border-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #d9d9d9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.layout-box::after {
    width: auto;
    left: 15px;
    right: 0;
    background-color: #d9d9d9;
}

.layout-box:last-of-type::after {
    left: 0;
}

.layout-boxs-title {
    font-size: 12px;
    color: #999;
    padding: 0 15px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.glb-pointer-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    margin-left: .4em;
    border-width: 2px 2px 0 0;
    border-color: #c7c7cc;
    border-style: solid;
    position: relative;
    vertical-align: middle;
}

.glb-text-of {
    margin-right: 1em;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*
 * layout（布局）
 */

.layout-container {
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}

.layout-float::before,
.layout-float::after {
    content: '';
    display: table;
    width: 100%;
    height: 0;
}

.layout-float::after {
    clear: both;
}

.layout-fl {
    float: left;
}

.layout-fr {
    float: right;
}

.layout-boxs {
    background-color: #fff;
}

.layout-boxs+.layout-boxs {
    margin-top: 10px;
}

.layout-boxs::before {
    background-color: #d9d9d9;
}

.layout-box,
.layout-tr-center,
.layout-tr,
.layout-tr-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.layout-box,
.layout-tr-center,
.layout-tr {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.layout-box {
    min-height: 44px;
    padding: .6em 15px;
}

.layout-tr-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.layout-tr.vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.layout-td {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.layout-td-auto {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}